html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-weight: normal;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #c0c0c0;
}

ul {
    margin: 0;
}

li {
    margin: 3px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.header {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.header,
.button {
    color: white;
    background-color: #63aeff;
    box-shadow: 0 1px 5px #c0c0c0;
    z-index: 1;
}

.category {
    /*position: relative;*/
    margin: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px #c0c0c0;
}

.category:first-of-type {
    margin-top: 0;
}

.category > h1 {
    margin: 0;
    margin-bottom: 10px;
}

.category > h2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.category > div {
    margin: 3px 0;
}

.category > div:last-of-type {
    margin-bottom: 0;
}

.category > p {
    margin: 15px 0;
}

.category > p:first-of-type {
    margin: 0px 0;
}

.category > p:last-of-type {
    margin-bottom: 0;
}

.category > ul {
    padding-left: 20px;
}

@media (min-width: 700px) {
    .content {
        grid-column: 3 / span 8;
    }
}

.buttons {
    margin: 12px;
    overflow: auto;
    padding: 3px;
}

.button {
    text-decoration: none;
    /*margin: 20px;*/
    padding: 12px 25px;
    font-size: 15px;
    display: inline-block;
    border-style: none;
    border-radius: 0;
}

.button:hover {
    background-color: #208afc;
}

.buttons > .button:first-child {
    float: left;
}

.buttons > .button:last-child {
    float: right;
}
/*-------------------------------------Main Page--------------------------------------*/
.main-page .header {
    height: 60px;
}

.main-page .title {
    grid-column: 2 / span 10;
    align-self: center;
    font-size: 25px;
    font-weight: bold;
}
/*-------------------------------------Part 1-----------------------------------------*/
.resume .header {
    height: 400px;
}

.resume .generalInfo {
    align-self: center;
    margin: 20px;
    font-size: 20px;
}

.generalInfo i {
    position: relative;
    top: 4px;
}

.generalInfo .info > div {
    display: inline;
}

.generalInfo > * {
    margin: 2px 0;
}

#resume-name {
    font-size: 50px;
    margin-bottom: 0;
    line-height: 100%;
}

#resume-position {
    margin-top: 0;
    margin-bottom: 20px;
}

@media (min-width: 700px) {
    .resume .generalInfo {
        grid-column: 3 / span 8;
    }
}

.resume .category {
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
}

.resume .highlight {
    margin-top: 17px;
}

.highlight .institution {
    font-style: bold;
}

.highlight .location {
    font-style: italic;
}

div.highlight:first-of-type {
    margin-top: 10px;
}
/*-------------------------------------Part 2-----------------------------------------*/
.part2 {
    display: grid;
    grid-template-columns: 300px repeat(10, 1fr);
    grid-template-rows: 50px auto;
}

.part2 .header {
    display: grid;
    position: fixed;
    height: 50px;
    width: 100vw;
    grid-template-columns: 300px repeat(10, 1fr);
    grid-gap: 0;
}

.part2 .header div {
    grid-column: 1;
    margin-left: auto;
}

.part2 .header a {
    display: inline-flex;
    align-items: center;
    padding: 0 13px;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.part2 .sidebar {
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    width: 300px;
    overflow-y: scroll;
    background-color: white;
    z-index: 1;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #d8d8d8;
}

.part2 .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.part2 .sidebar .title-container {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.part2 .sidebar form > ul > li {
    margin: 0;
    cursor: pointer;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #f0f0f0;
}

.part2 .sidebar h1,
.part2 .sidebar a {
    margin: 0;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 18px;
    border-style: none;
}

.part2 .sidebar .section {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #f0f0f0;
}

.part2 .sidebar .section p {
    padding: 5px 16px 5px 30px;
    margin: 0;
    font-size: 13px;
}

.part2 .sidebar .section li {
    margin: 0;
}

.part2 .sidebar .title-container:hover,
.part2 .sidebar .section li:hover {
    background-color: #f0f0f0;
}

.part2 .content {
    grid-column: 2 / 11;
    grid-row: 2;
    padding: 20px;
}

.part2 .current {
    background-color: #ffddc1;
}

div.title-container > i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
    transform: rotate(-135deg);
    height: 100%;
}

div.title-container.active > i {
    transform: rotate(45deg);
}

.question > div {
    display: flex;
    align-items: center;
}

.question > div:first-of-type {
    margin-top: 10px;
}

.question input {
    margin: 0 7px 0 0;
}

.mark {
    margin: 0 10px;
}

.correct {
    background-color: #adebad;
}

.incorrect {
    background-color: #ff9999;
}

.title {
    font-size: 30px;
}
/*-------------------------------------Part 3-----------------------------------------*/
.part3 {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
}

.part3 .wrapper {
    display: block;
    grid-row: 2 / 10;
    grid-column: 4 / 10;
}

.part3 .option {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

#slideshow {
    height: 60%;
}

#slideshow > canvas {
    width: 100%;
    height: 100%;
}

.part3 .buttons {
    margin: 12px;
    display: flex;
}

.part3 .buttons > * {
    flex: 1;
}

.part3 .left {
    text-align: left;
}

.part3 .left > button {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
}

.part3 .center {
    text-align: center;
}

.part3 .right {
    text-align: right;
}
