html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.border-box {
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
}

.button {
}

.part1 nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-width: 0 0 1px;
    padding: 0 15px;
}

.part1 nav > div {
    display: flex;
}

.part1 #banner {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.part1 .nav-button {
    padding: 0 10px;
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.part1 .nav-button:focus {
    outline: none;
}

.part1 .nav-button:hover {
    background-color: #f0f0f0;
}

.part1 .dropdown {
    position: relative;
}

.part1 .dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    right: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 14px;
    width: 250px;
    background-color: white;
}

.part1 .dropdown-content.active {
    display: block;
}

.part1 .dropdown-content > *:last-of-type {
    border-width: 0 1px 1px 1px;
}

.part1 .dropdown-content > *:hover {
    background-color: #f0f0f0;
}

.part1 .dropdown-content a {
    display: block;
    padding: 15px 10px;
}

.part1 .content {
    margin: 30px auto;
    width: 65vw;
}

.part1 #top10 h1 {
    margin: 0;
    font-size: 25px;
}

.part1 #top10 ol {
    margin: 6px 0;
    padding: 10px 15px 10px 40px;
}

.part1 #top10 li {
    margin: 5px 0;
    font-size: 17px;
}

.part1 #top10 li:first-of-type {
    margin: 0 0 5px;
}

.part1 #top10 li:last-of-type {
    margin: 5px 0 0;
}

.part1 #top10 li a {
    display: block;
    text-decoration: none;
    color: black;
}

.part1 #top10 li a:hover {
    background-color: #f0f0f0;
}

.part1 .login {
    margin: 30px auto;
    width: 250px;
    padding: 25px;
}

.part1 .login > div {
    margin-bottom: 8px;
}

.part1 .login > div:last-of-type {
    margin-bottom: 30px;
}

.part1 .login label {
    display: inline-block;
    margin: 0 0 3px;
    font-size: 15px;
    font-weight: bold;
}

.part1 .login input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 2px;
}

.part1 #signup {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.part1 #signup a {
    margin-left: 3px;
    text-decoration: none;
}

.part1 .label {
    display: flex;
    justify-content: space-between;
}

.part1 #your-bookmarks .border-box {
    margin: 6px 0;
}
